@import url('https://fonts.googleapis.com/css?family=Lemonada|Poppins');
h1{font-family: 'Lemonada', cursive;}
p{font-family: 'Poppins', sans-serif;}
sa.footer{color:#efefef;text-align:center;margin-top:100px;}
.content{
    height:auto;
    width:100%;
    margin:0 auto;
    background:#333;
    padding: 10px;
}

.image-frame{
    display:inline-block;
    border:1px solid #ffffff;
    margin:5px;
    overflow: hidden;
}

.image-frame img{
    max-width:100%;
    transition:all .6s;
}
.image-frame:hover img{
    transform: scale(1.1);
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.image-frame a {
    position: relative;
}

span.text-content {
    display:none;
    background: rgba(0,0,0,0.5);
    color: white;
    text-align:center;
    position:absolute;
    left: 100px;
    top: 100px;
}

.image-frame:hover span.text-content {
    display: block;
    z-index:100;
}

/*@media screen and (max-width: 956px){
    .image-frame{width:47.25%;hieght:300px;}
    .image-frame img{height:325px;}
    span.text-content{width:46.2%;}
}
@media screen and (max-width: 544px){
    .image-frame{width:98%;}
    .image-frame img{height:400px;}
    span.text-content{width:94.5%;}

    https://codepen.io/jpixelwebdesign/pen/Bpawvm
} */
