/*1920x1080*/
:root {
  /* fonts */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
  --code-font-family: 'Fira Mono', sans-serif;

  /* colors */
  --almost-white: #f7f7f7;
  --light-light-gray: #E8E8E8;
  --light-gray: #ccc;
  --almost-black: #282828;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav .aktiv {
    background-color: rgba(255, 240, 251, 0.5);
}

header nav a {
    flex-basis: 150px;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: center;
    text-decoration: none;
    color: #2d2d2d;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 0px;
    padding-bottom: 10px;
    font-size: 1.2vw;
}

div p {
    margin-top: 1px ;
    margin-left: 1vw;
    font-size: 0.74rem;
}

div h2 {
    margin-left: 25px;
    margin-top: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

main article {
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-bottom: 3vw;
    padding-bottom: 1.5vw;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border: solid black 2px;
}

main article {
    border: solid black 5px;
}


#nav-bar {
    max-width: 1000px;
    min-width: 500px;
    margin: 5px auto;
    text-decoration: none;
}

#myCarousel {
    min-height: 35vh;
    margin: 3% 2% 3% 2%;
    background-color: inherit;
}

.kol1 {grid-column: span 1}
.kol2 {grid-column: span 2}
.kol3 {grid-column: span 3}
.kol4 {grid-column: span 4}
.kol5 {grid-column: span 5}
.kol6 {grid-column: span 6}
.kol7 {grid-column: span 7}
.kol8 {grid-column: span 8}
.kol9 {grid-column: span 9}
.kol10 {grid-column: span 10}
.kol11 {grid-column: span 11}
.kol12 {grid-column: span 12}

.kol4 img {
    width: 100%;
}

.header {
    background-color: rgba(36, 36, 36, 0.35);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 1.2vw;
}

.foot {
    justify-content: center;
    text-align: center;
    border-top: solid black 3px;
    margin-top: 40px;
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  grid-row: 1/3;
}

.wrapper video {
  width: 100%;
}

.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper svg text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.6vw;
  width: 100%;
}

.wrapper svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

.wrapper svg rect {
  fill: #fff;
}

.wrapper mask #mask{
  width: 100%;
  height: 100%;
}

.wrapper:before, .wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #fff;
}

.wrapper:before {
  left: -9px;
}

.wrapper:after {
  right: -5px;
}

.right_text{
  grid-row: 2/4;
  grid-column: 6/12;
}



/* .Lorem {
    grid-column: 8/12;
}

elementet overflow none
